foreach-proj/src/main/mule/foreach-proj.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7ad96d95-f6e2-49f1-bad4-093af32e1b55" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="080a393c-79da-4f9d-8547-ac7a6b62b228" >
		<file:connection workingDir="C:\softwares\AnypointStudio\AnypointStudio\sampledatafiles" />
	</file:config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="f9f046d6-af53-45fe-ae44-0003f2d84a31" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="P@ssw0rd" database="world" />
	</db:config>
	<flow name="foreach-projFlow" doc:id="589de2ed-4391-411b-9882-252ec1a9516d" >
		<http:listener doc:name="Listener" doc:id="514f18ea-9aaa-478f-9aa1-861af0c58f6d" config-ref="HTTP_Listener_config" path="/"/>
		<file:read doc:name="Read" doc:id="aa4fcfb8-a541-4b32-95ee-0920abfd02d5" config-ref="File_Config" path="C:\softwares\AnypointStudio\AnypointStudio\sampledatafiles\Details1.xlsx" outputMimeType="application/xlsx"/>
		<ee:transform doc:name="Transform Message" doc:id="6d03a6e5-8bf5-4674-a543-daefb965ede0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="93699581-bde5-4ddd-ad85-484598c32a21" message="#[payload]"/>
	</flow>
</mule>
