transformer-proj1/src/main/mule/transformer-proj1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ea111094-81ee-493d-bac4-5e3d5ee8a687" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="transformer-proj1Flow" doc:id="07f944b8-ee5d-4552-ae69-ed0d2ee5506e" >
		<http:listener doc:name="Listener" doc:id="f438a213-9dde-42dd-927e-4856d78bd48f" config-ref="HTTP_Listener_config" path="/transformer"/>
		<ee:transform doc:name="Transform Message" doc:id="ba4126a0-1602-4621-8481-c68355370d92" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	fname: payload.status,
	id: payload.data.id,

}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable resource="dwl/name.dwl" variableName="name" />
			</ee:variables>
		</ee:transform>
	</flow>
</mule>
