fileoperations/src/main/mule/fileoperations.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="18254db6-c221-485c-8204-2e0e39bdfff9" >
		<file:connection workingDir="C:\softwares\anypointFileFolder" />
	</file:config>
	<flow name="fileoperationsFlow" doc:id="0e2f31fe-a88e-487d-b2a6-510ae8389755" >
		<file:listener doc:name="On New or Updated File" doc:id="6f768ca9-ea4e-4053-b8fe-59daec4c5c95" config-ref="File_Config" directory="input" recursive="false" autoDelete="true" moveToDirectory="output" renameTo="employee.backup">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</file:listener>
		<logger level="INFO" doc:name="Logger" doc:id="5327f605-8e65-4dde-bb61-8f69f09fd61f" message="#[payload]"/>
	</flow>
</mule>
