complexdataweave.proj/src/main/mule/complexdataweave.proj.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="fd551198-0741-4b6b-805c-40fd2e97542a" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="complexdataweave.projFlow" doc:id="5582b936-e9b6-463c-8022-a1fcb0539bfd" >
		<http:listener doc:name="Listener" doc:id="4bf76c85-6716-4741-adda-566ce5707075" config-ref="HTTP_Listener_config" path="/"/>
		<ee:transform doc:name="Transform Message" doc:id="306d9d82-8bab-4fd2-bf6a-5d2d0076e4f7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var firstEmployee =payload.data.employee_name
---

firstEmployee]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
